$primary-color: #57ca9e; // Główny kolor (zielony)
$secondary-color: #f44336; // Drugi kolor (czerwony)
$text-color: black; // Kolor tekstu
$background-color: rgba(0, 0, 0, 0.55); // Ciemne tło kontenera
$table-header-color: #f1f1f1; // Kolor nagłówka tabeli
$table-border-color: #ccc; // Kolor granicy tabeli

.check-match-container {
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    color: #000; // Kolor nagłówka
    font-size: 2rem;
    border: none;
    margin-bottom: 20px;
    text-align: center;
  }

  h3 {
    color: #000;
    border-bottom: 2px solid #fff;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
  }

  p {
    font-size: 1.1rem;
    margin: 10px 0;
    color: $text-color; // Kolor tekstu
  }

  .team-section {
    background-color: white; // Białe tło dla sekcji zespołu
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 15px;
    flex: 1; // Umożliwia równą przestrzeń dla zespołów

    img {
      max-width: 150px;
      border-radius: 4px;
      margin-bottom: 10px;
    }
  }

  .teams-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .score {
    font-size: 24px;
    font-weight: bold;
  }
}
