/* Kontener całej strony */

.city-info {
  color: #000;
  padding: 20px;
  position: relative;
  border-bottom: solid 2px #000;
  overflow: hidden;

  /* Pseudoelement na tło */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/city.jpg");
    background-size: cover;
    background-position: center;
    filter: grayscale(80%);
    z-index: 1;
  }

  .city-info-body {
    display: flex;
    width: 60%;
    margin: auto;
    padding: 20px;
    border: solid 2px #000;
    backdrop-filter: blur(10px);
    // background-color: #000;
    position: relative;
    z-index: 2;

    img {
      width: 140px;
      height: auto;
      object-fit: cover;
      margin-right: 20px;
      border-radius: 5px;
    }

    p {
      color: #ffffff;
      font-size: 20px;
    }

    h1 {
      color: #ffffff;
    }
  }
}

/* Sekcja */
.section {
  max-width: 1200px; /* Szerokość sekcji */
  margin: 0 auto;
  padding: 20px;
}

/* Nagłówki tabel */
.section h2 {
  font-size: 28px; /* Większa czcionka nagłówków */
  margin: 30px 0; /* Większe marginesy */
  text-align: center;
  color: #2c3e50; /* Ciemny kolor nagłówków */
  border-bottom: 2px solid #000000;
}

/* Responsywność */
@media (max-width: 768px) {
  .city-container {
    padding: 20px; /* Mniejsze paddingi dla mniejszych ekranów */
  }

  .city-info h1 {
    font-size: 30px; /* Mniejsza czcionka dla nagłówków */
  }

  .section {
    padding: 0 10px; /* Mniejsze paddingi w sekcjach */
  }

  .section h2 {
    font-size: 22px;
  }

  .city-info-body {
    flex-direction: column; /* Zmiana kierunku dla mniejszych ekranów */
    align-items: center; /* Centrowanie obrazka i tekstu */
  }

  img {
    width: 100%; /* Pełna szerokość na mniejszych ekranach */
    height: auto; /* Automatyczna wysokość */
    margin-bottom: 20px; /* Dodanie marginesu na dole */
  }
}
