.city-info {
  color: white;
  background-image: url("../images/team.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
  padding: 40px;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  width: 90%;
  margin-top: 50px;
}

/* Pseudoelement na tło */
.city-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.city-info * {
  position: relative;
  z-index: 1;
}

.city-info-body {
  display: flex;
  width: 40%;
  padding: 20px;
  position: relative;
  z-index: 1;

  img {
    width: 140px;
    height: auto;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 5px;
  }

  p {
    color: #ffffff !important;
  }

  h1 {
    color: #1abc9c !important;
    font-size: 32px !important;
  }
}

/* Sekcja */
.section {
  max-width: 1200px; /* Szerokość sekcji */
  margin: 0 auto;
  padding: 20px;
}

/* Nagłówki tabel */
.section h2 {
  font-size: 28px; /* Większa czcionka nagłówków */
  margin: 30px 0; /* Większe marginesy */
  text-align: center;
  color: #2c3e50; /* Ciemny kolor nagłówków */
  border-bottom: 2px solid #000000;
}

/* Responsywność */
@media (max-width: 768px) {
  .city-container {
    padding: 20px; /* Mniejsze paddingi dla mniejszych ekranów */
  }

  .city-info h1 {
    font-size: 30px; /* Mniejsza czcionka dla nagłówków */
  }

  .section {
    padding: 0 10px; /* Mniejsze paddingi w sekcjach */
  }

  .section h2 {
    font-size: 22px;
  }

  .city-info-body {
    flex-direction: column; /* Zmiana kierunku dla mniejszych ekranów */
    align-items: center; /* Centrowanie obrazka i tekstu */
  }

  img {
    width: 100%; /* Pełna szerokość na mniejszych ekranach */
    height: auto; /* Automatyczna wysokość */
    margin-bottom: 20px; /* Dodanie marginesu na dole */
  }
}
