.container {
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.teams {
  display: flex;
  justify-content: space-between;

  h2 {
    color: #000;
    padding: 10px 0;
  }
}

.team {
  flex: 1;
  padding: 20px;
  margin: 0 10px;
}

.home-team {
  background-color: #f2f2f2;
}

.away-team {
  background-color: #e0e0e0;
}

.input-field {
  width: 100px;
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-field:focus {
  outline: none;
  border-color: #57ca9e;
  box-shadow: 0 2px 8px rgba(87, 202, 158, 0.4);
}

.input-field:hover {
  border-color: #57ca9e;
}

.submit-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;

  cursor: pointer;
}

.submit-button:hover {
  background-color: #000;
}
