/* Styl dla kontenera z informacjami o mieście */

/* Styl dla kontenera formularza */
.challenge-team-container {
  background-image: url("../images/peach.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  height: 80vh;
  width: 150vb;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center; // Ustawienie wyrównania do lewej
  padding: 20px;
  margin-right: 90px; // Odstęp między miastem a formularzem
  backdrop-filter: blur(10px);
  border: 2px solid #ffffff;
  border-radius: 8px; // Zaokrąglone rogi
  color: #ffffff;

  img {
    width: 100px;
    height: auto;
  }
}

/* Dodatkowe style dla nagłówków i paragrafów w kontenerze z informacjami */
.city-info h1,
.city-info p {
  color: #000; // Kolor tekstu
  margin: 0; // Usunięcie domyślnych marginesów
}

.city-info h1 {
  font-size: 28px; // Rozmiar nagłówka
  margin-bottom: 10px; // Odstęp poniżej nagłówka
}

.city-info p {
  font-size: 16px; // Rozmiar tekstu
  margin-bottom: 5px; // Odstęp poniżej akapitu
}

.challenge-form {
  margin: 30px;
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 8px;
  border: 2px solid #ffffff;

  h2 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px #ffffff solid;
  }
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 14px;
  color: #000;
  background-color: #ffffff;
  transition: border 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #57ca9e;
  outline: none;
}

/* Styl dla przycisku wysyłania formularza */
.challenge-button {
  width: 100%;
  padding: 10px 15px;
  background-color: #57ca9e;
  color: white;
  border: 2px solid #000;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.challenge-button:hover {
  background-color: #000;
  border: 2px solid #fff;
}

// getChallenge.scss

.message {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
}

.success-message {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.error-message {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

/* Media query dla mniejszych ekranów */
@media (max-width: 600px) {
  .challenge-form {
    width: 90%;
  }
}
