// home.scss

$primary-color: #0dd7bc; // Green (similar to a football field)
$secondary-color: #ffffff; // White
$background-color: #f9f9f9; // Light background color
$accent-color: #343a40; // Dark gray for text and borders

body {
  font-family: "Arial", sans-serif;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

// Hero section styles
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/background.png") no-repeat center center;
  background-size: cover;
  color: $secondary-color;
  padding: 50px 20px;
  text-align: center;

  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .hero-buttons {
    display: flex;
    justify-content: center;

    .primary-button {
      background-color: $primary-color;
      color: $secondary-color;
      border: none;
      border-radius: 5px;
      padding: 15px 30px;
      font-size: 1em;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }

    .secondary-button {
      background-color: transparent;
      color: $primary-color;
      border: 2px solid $primary-color;
      border-radius: 5px;
      padding: 15px 30px;
      font-size: 1em;
      cursor: pointer;
      margin-left: 10px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: $primary-color;
        color: $secondary-color;
      }
    }
  }
}

// Features section styles
.features {
  text-align: center;
  margin: 40px;

  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .features-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .card {
      background-color: $secondary-color;
      border: 1px solid $accent-color;
      border-radius: 5px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin: 10px;
      width: 300px;
      transition: transform 0.3s;

      h3 {
        color: $primary-color;
        margin-bottom: 10px;
      }

      p {
        color: $accent-color;
      }

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

// CTA section and city ranking styles
.rankings {
  margin: 40px;

  h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
}
/* Styl dla tabeli */
.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);

  thead {
    background-color: #000000;
    color: #ffffff;

    th {
      padding: 15px; /* Większe paddingi w nagłówkach */
      text-align: center; /* Wyrównanie tekstu w nagłówkach */
      font-weight: bold; /* Pogrubienie tekstu w nagłówkach */
    }
  }

  tbody {
    tr {
      td {
        padding: 15px; /* Padding w komórkach */
        text-align: center;
        border-bottom: 5px solid #ddd;
        background-color: #f0f0f0; /* Tło komórek */
        color: #333;
        transition: background-color 0.3s ease;
      }

      &:hover {
        background-color: #d1f2eb; /* Efekt hover na wierszach */
      }
    }
  }
}

// Dodanie animacji dla przycisków i kart
@keyframes button-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.primary-button:hover,
.secondary-button:hover {
  animation: button-hover 0.3s forwards;
}
