/* Kontener dla formularza logowania */
/* Kontener z przyciemnionym tłem */
.login-background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Pełna wysokość ekranu */
  background-image: url("../images/log.jpg");
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Przyciemnienie tła */
    z-index: 1;
  }
}

/* Kontener dla formularza logowania */
.login-container {
  position: relative;
  z-index: 2; /* Wyższy z-index, aby formularz był nad przyciemnieniem */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;

  h2 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px #000000 solid;
  }
}

/* Stylizacja formularza logowania */
.login-form {
  backdrop-filter: blur(8px); /* Rozmycie tła */
  padding: 30px;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 15px;
  background: transparent;
  // background-color: #e8f7ff;
  // backdrop-filter: blur(8px);
  transition: border 0.3s ease;
  font-weight: bold;
}
input::placeholder {
  color: #fff;
  font-size: 13px;
  font-weight: lighter;
}
.form-group input:focus {
  border-color: #57ca9e;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.error-message {
  color: red;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .login-form {
    width: 90%;
  }
}
