// Zmienne kolorów
$shadow-color: rgba(10, 170, 191, 0.375); // Kolor cienia
$primary-color: #0dd7bc; // Green (similar to a football field)
$font-family: "Roboto", sans-serif; // Nowoczesny font
$transition-duration: 0.3s;

/* Resetowanie marginesów i paddingów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

/* Styl dla nawigacji */
.navigation {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(250deg, #000, #1a1a1a, $primary-color);
  padding: 20px 40px;
  box-shadow: 0 4px 10px $shadow-color;
  z-index: 1000;
  border-bottom: 2px solid rgb(0, 0, 0);

  /* Styl dla menu */
  .menu {
    display: flex;
    gap: 25px;

    .menu-item {
      text-transform: uppercase;
      color: $primary-color;
      text-decoration: none;
      font-size: 20px;
      position: relative;

      /* Efekt hover dla menu */
      &::after {
        content: "";
        display: block;
        width: 0%;
        height: 3px; // Grubsza linia podkreślenia
        background: #ffffff;
        transition: width $transition-duration;
        position: absolute;
        bottom: -8px;
        left: 0;
      }

      &:hover {
        color: #ffffff;

        &::after {
          width: 100%;
          color: #ffffff;
        }
      }

      &.active {
        color: #ffffff;

        &::after {
          width: 100%;
        }
      }
    }

    /* Styl dla rozwijanego menu */
    .profile {
      position: relative;
      cursor: pointer;

      .dropdown-menu {
        border-top: solid 1px $primary-color;
        display: none;
        position: absolute;
        width: 250px;
        top: 62px;
        right: -40px;
        background-color: black;
        border-radius: 0 0 0 0;
        padding: 10px;
        list-style: none;
        box-shadow: 0 4px 10px $shadow-color;

        /* Dodajemy strzałkę przed menu */
        &::before {
          content: "";
          position: absolute;
          top: -10px; // Pozycjonowanie strzałki nad menu
          right: 30px; // Dopasuj, aby strzałka znajdowała się blisko elementu menu
          border-width: 0 10px 10px 10px;
          border-style: solid;
          border-color: transparent transparent $primary-color transparent; // Kolor strzałki
        }

        li {
          padding: 10px 15px; // Mniejsze paddingi
          cursor: pointer;

          a {
            color: $primary-color;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
              color: #ffffff;
            }
          }

          button {
            background: none;
            color: $primary-color;
            border: none;
            font-size: 20px;
            text-transform: uppercase;
            cursor: pointer;
            text-align: left;
            padding: 0;

            &:hover {
              color: #ffffff;
            }
          }
        }
      }

      &.open .dropdown-menu {
        display: block;
      }
    }
  }
}
