.notification-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../images/peach.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}
.body-container {
  // background-color: rgba(29, 29, 29, 0.7);
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.notification-header {
  border-bottom: 3px #fafafa solid;
  padding: 20px;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

.notification-list {
  list-style: none;
  padding: 0;

  li {
    max-width: 800px;
    margin: auto;
    // background-color: rgb(196, 196, 196, 0.8);
    backdrop-filter: blur(150px);
    border: 2px solid #fff;
    position: relative;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;

    p {
      margin: 5px 0;
      font-size: 20px;
    }

    .notification-status {
      font-size: 14px;
      color: #ff0000;
    }

    .notification-match.accepted {
      color: green; /* Kolor dla zaakceptowanej wiadomości */
    }

    .notification-match.rejected {
      color: red; /* Kolor dla odrzuconej wiadomości */
    }

    .notification-actions {
      margin-top: 15px;
    }
  }
  button.delete {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 30%;
    right: 60px;
    background-color: #ff6767;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.2s;

    &:hover {
      background-color: #ff3333;
    }

    &.accept {
      background-color: #57ca9e;
      color: #ffffff;
    }

    &.reject {
      background-color: #ff6767;
      color: #ffffff;
    }
  }
}
