.container-player {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ffffff;
  padding: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }

  * {
    position: relative;
    z-index: 1;
  }
}
.second-container {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 40px;

  h1 {
    text-align: center;
    padding: 10px;
  }
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  text-align: center;

  h1 {
    margin-bottom: 10px;
    font-size: 26px;
    color: #57ca9e; /* Kolor tekstu dla lepszej widoczności */
    font-weight: bold;
  }

  img {
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-top: 10px;
    transition: transform 0.3s ease; /* Animacja transformacji na hover */
  }

  img:hover {
    transform: scale(1.1); /* Powiększenie obrazu przy najechaniu myszką */
  }
}

.placeholder-photo {
  width: 200px; /* Szerokość */
  height: 200px; /* Wysokość */
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc; /* Szary kolor tła */
  color: #666666; /* Ciemny kolor tekstu */
  font-size: 16px;
  border-radius: 50%; /* Okrągły kształt */
  border: 3px solid #1abc9c; /* Obwódka */
}

.stats {
  width: 50%;
  padding-left: 30px;
  border-left: 2px solid #57ca9e; /* Pionowa linia oddzielająca w kolorze akcentu */
}

.stats p {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1;
}

@media (max-width: 768px) {
  .container-player {
    flex-direction: column; /* Układ kolumnowy dla mniejszych ekranów */
    padding: 20px;
    align-items: center;
  }

  .user {
    width: 100%;
    margin-bottom: 20px;
  }

  .stats {
    width: 100%;
    padding-left: 0;
    border-left: none;
    text-align: center;
  }
}
