$primary-color: #0dd7bc;
$white-color: #678b7d;
$highlight-color: #ffffff;

// Zmienne typograficzne
$font-size-large: 18px;
$font-size-medium: 13px;

// Zmienne odstępów
$padding-vertical: 15px;
$padding-horizontal: 30px;
$gap-size: 20px;

// Zmienne animacji
$transition-duration: 0.3s;

.Search {
  input {
    color: #fff;
  }
}
/* Przyciski */
button {
  background: $primary-color; /* Usuwamy tło */
  color: #000000; /* Kolor tekstu zgodny z resztą menu */
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 10px 20px; /* Zwiększyłem padding dla lepszego wyglądu */
  cursor: pointer;
  transition: all $transition-duration ease-in-out;
  font-weight: bold;

  &:hover {
    background-color: #000000;
    color: $primary-color;
    border-color: #ffffff;
    font-weight: bold;
  }
}

/* Etykiety */
.label {
  border: solid 2px $primary-color; /* Obramowanie w kolorze przycisku */
  border-radius: 25px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  background-color: black;

  &:hover {
    background-color: black;
    color: #ffffff;
  }
}
